# Server Configuration
PORT=3001

# reCAPTCHA Configuration
RECAPTCHA_SECRET_KEY=6Lfcq4IsAAAAAOhGqO6hGdpQq5oGaoMTM2Q-7b_P

# Email Configuration
CONTACT_TO_EMAIL=info@lockall.co

# SMTP Configuration (GoDaddy / Microsoft 365)
SMTP_HOST=p3plzcpnl506418.prod.phx3.secureserver.net
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=info@lockall.co
SMTP_PASS=Cn31Y+^Po$1*

# Email Display Name
MAIL_FROM=Lockall Website <info@lockall.co>

# Frontend Configuration
VITE_RECAPTCHA_SITE_KEY=6Lfcq4IsAAAAAOG57YgWRNUiiWURgu_WVMiBVOU6
VITE_API_URL=http://localhost:3001
NODE_ENV=development
SKIP_RECAPTCHA=true